.hero {
	position: relative;
	background: #dde9f2;
	padding: 15vw 0 10vw 0;
	overflow: hidden;
}

.hero .hero-header {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.hero .hero-header > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.hero .hero-header > div p {
	width: 68%;
}

/* shapes */
.shape {
	position: absolute;
}

#shape1 {
	top: 10vw;
	left: 0;
	width: 11.7vw;
	z-index: 3;
}

#shape5 {
	top: 11vw;
	right: 1vw;
	width: 11.4vw;
	z-index: 3;
}

/*- how it works -*/

.hero .icon-section {
	background: var(--white);
	border: 2px solid var(--black);
	border-radius: 270px;
	padding: 5.2vw 0;
}

.hero .icon-section h2 {
	text-align: center;
}

.hero .icon-section > div {
	display: flex;
	justify-content: center;
	gap: 5.2vw;
	margin-top: 4.6vw;
}

.hero .icon-section .icon-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero .icon-section .icon-item img {
	width: 7.2vw;
	height: 7.2vw;
	margin-bottom: 1vw;
}

.hero .icon-section .icon-item p {
	text-align: center;
	line-height: 110%;
}
